{% extends "TwitterBootstrapBundle::layout.html.twig" %}

{% block container %} 
        <div id="overlay">
            <div class="popup">
                <h2>Первая работа в Symfony2!!!</h2>
                <button class="close" title="Закрыть" onclick="document.getElementById('overlay').style.display='none';"></button>
            </div>
        </div>

        <div class="pull-left">    
    {% block tovar %} 
        <div class="count">
          Общее количество товара:  {{ pagination.getTotalItemCount }}
        </div>
        <table>
        <tr>
            <th>№ товара</th>
            <th>Название товара</th>
        </tr>
        {% for article in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>{{ article.id }}</td>
            <td>{{ article.Name }}</td>
        </tr>
        {% endfor %}
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endblock %}  
        </div>
    
        <div class="offset3">
            {% block kategor %} 
                 {% render (controller("AcmeBazaBundle:Default:showKategor"))%} 
            {% endblock %}
        </div> 
       
        <script type="text/javascript">
               var delay_popup = 60000; setTimeout("document.getElementById('overlay').style.display='block'", delay_popup);
        </script> 
    
{% endblock %}  
    
    {% block footer %}{% endblock %}
